In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
%matplotlib inline

In [25]:
##file = pd.read_csv('Data_set/')
##file = df.read_csv('Data_set/', encoding='utf8', engine='python')
base_path = "Data_set/"
path, dirs, files = next(os.walk(base_path))

df_main = pd.DataFrame
for f in files:
    file_path = base_path+"/"+f
    df = pd.read_csv(file_path, sep=";", index_col=False)
    if df_main.empty:
        df_main = df
    else:
        df_main = pd.concat([df_main, df], ignore_index=True)

In [27]:
df_main.head()

  pregnant,glucose,diastolic,skinfold,insulin,bmi,pedigree,age,class,scored.class,scored.probability
0      7,124,70,33,215,25.5,0.161,37,0,0,0.328452259
1      2,122,76,27,200,35.9,0.483,26,0,0,0.273190439
2       3,107,62,13,48,22.9,0.678,23,1,0,0.109660394
3         1,91,64,24,0,29.2,0.192,21,0,0,0.055998355
4         4,83,86,19,0,29.3,0.317,34,0,0,0.100490719

In [30]:
## df_main = df_main[['class', 'scored.class', 'scored.probability']]

In [33]:
df_main.shape

(181, 1)

In [35]:

## crossTab = pd.crosstab(df_main['class'],df_main['scored.class'])
##crossTab